:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #04AA6D;
  --secondary-color: #f4f4f4;
  --border-color: #ddd;
  --font-size: 16px;
  --news-title-font-size: 0.9rem;
}
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1DB954;
  --secondary-color: #1c1c1c;
  --border-color: #333;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}
nav {
  background-color: var(--primary-color);
  color: white;
  height: 60px;
  display: flex;
  justify-content:  flex-end; /* Elementi će biti poravnati desno */
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav img {
  height: 50px;
  width: auto;
}
nav .menu {
  position: relative;
}

.menuContainer {
  display: none; /* Sakrij meni */
  position: absolute;
  top: 100%; /* Spušta meni ispod dugmeta */
  left: 0; /* Poravnava meni uz levi rub dugmeta */
  z-index: 1000; /* Osigurava da je meni iznad drugih elemenata */
  background-color: white; /* Dodaje pozadinsku boju za vidljivost */
  border: 1px solid #ccc; /* Dodaje obrub */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Blagi senka za estetiku */
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-list li:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
}

.menu-list img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.menu-list span {
  font-size: var(--font-size);
  color: var(--text-color);
}




.tabs-container {
  margin-top: 60px;
  background-color: var(--secondary-color);
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.4rem 0;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  align-items: center;
}
.tabs-container button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  flex-shrink: 0;
}
.tabs-container button:hover,
.tabs-container button.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}
.container {
  padding: 0;
  margin-top: 0;
}
.tab-name-box {
  display: block;
  visibility: visible;
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}
.news-card {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.1rem;
  display: flex;
  align-items: flex-start;
  transition: transform 0.2s;
}
.news-card:hover {
  transform: scale(1.02);
}
.news-card img {
  border-radius: 5px;
  margin-right: 0.8rem;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.news-title {
  font-size: var(--news-title-font-size);
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 0 0.5rem;
  font-weight: bold;
}
.news-title:hover {
  text-decoration: underline;
}
.news-meta {
  font-size: 0.8rem;
  color: var(--text-color);
  margin: 0;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
/* Modal */
#rearrange-modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  z-index: 2000;
  border-radius: 10px;
}
#rearrange-modal .modal-content {
  background: var(--primary-color);
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  text-align: center;
  font-size: 1rem;
}
#rearrange-modal ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  font-size: 1rem;
}
#rearrange-modal li {
  padding: 0.4rem;
  margin: 0.2rem 0;
  background: #4f4f4f;
  cursor: pointer;
  user-select: none;
  color: #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#rearrange-modal li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}
#sortable-list li {
  cursor: move;
}


#settings-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 24px; /* Širina dugmeta */
  height: 24px; /* Visina dugmeta */
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}

#settings-button .dot {
  display: block;        /* Ensure each line is on its own row */
  width: 24px; /* Dužina linije */
  height: 2px; /* Debljina linije */
  background-color: black; /* Boja tačke */
   margin: 4px 0;         /* Spacing between bars */
  /* border-radius: 50%; Zaobljeni uglovi linije */
}

